*{
	margin:0;
	padding:0;
	font-family:Century Gothic;
}
.job_list{
	border: 1px solid black;
	margin:10px 20px;
	padding: 15px 30px;
	background-color: #f0f0f0;
	border-radius: 20px;
}
.job_list h2{
	color: rgb(19, 106, 41);
}
.job_list h4{
	color: #00000000;
}
.job_list i{
	opacity: .5;
}
.btn1{
	background-color: rgb(60, 179, 113);
	margin-left: 750px;
	margin-top: -140px;
	border:0;
	padding: 5px 8px;
	border-radius: 10px;
}
.btn2{
	background-color: #6a5acd;
	margin-left: 750px;
	margin-top: -80px;
	border:0;
	padding: 5px 30px;
	border-radius: 10px;
}